<div id="sticky">
  <header id="tasks_header">
    <div>Search</div>
    <div onclick="window.location='/tasks/new'">Add task</div>
    <div onclick="window.location='/tags'">Tags</div>
  </header>
</div>
