<div id="sticky">
  <header id="tasks_header">
    <div>Menu</div>
    <div>Home</div>
    <div>Search</div>
    <div id="spacer"></div>
    <div>Add task</div>
    <div>Notifications</div>
    <div>Profile</div>
  </header>
</div>
