<aside id="menu">
  <div onclick="window.location='/tasks/'" class="<%=params['action']== 'index' ? 'active' : ''%>">Index</div>
  <div onclick="window.location='/tasks/today'" class="<%=params['action']== 'today' ? 'active' : ''%>">Today</div>
  <div onclick="window.location='/tasks/upcoming'" class="<%=params['action']== 'upcoming' ? 'active' : ''%>">Upcoming</div>
</aside>
