<div id="show_task">
  <div class="form">
    <div class="field">
      <p>No tasks to show here.<p>
    </div>
    <div class="field">
      <p>Add some tasks and become productive.</p>
    </div>

    <div class="actions">
      <%= link_to "Add Task", new_task_path(@task) %>
    </div>
  </div>
</div>
