<turbo-frame id="main_content">
<div id="show_task">
  <div class="form">
    <h2><%=@task.title%></h2>

    <div class="field">
      <p><%=@task.description%><p>
    </div>
    <div class="field">
      <p>Due on <%=@task.due_date.strftime("%d %b %Y")%></p>
    </div>

    <div class="actions">
      <%= link_to "Edit", edit_task_path(@task) %>
    </div>
  </div>
</div>
</turbo-frame>
