<div id="sticky">
  <header id="tags_header">
    <div>Search</div>
    <div onclick="window.location='/tags/new';">Add tag</div>
    <div onclick="window.location='/tasks';">Tasks</div>
  </header>
</div>
