<div id="show_tag">
  <div class="form">
    <div class="field">
      <p>No tags to show here.<p>
    </div>
    <div class="field">
      <p>Add some tags and organize your tasks.</p>
    </div>

    <div class="actions">
      <%= link_to "Add Tag", new_tag_path(@tag) %>
    </div>
  </div>
</div>
