#menu {
  padding-top: 20px;
  background-color: pink;
  display: flex;
  flex-direction: column;
  max-width: 300px;
}

#menu div {
  padding: 10px;
  margin-left: 20px;
  cursor: pointer;
}

#menu .active {
  background-color: #ffd1d9;
}

#menu div:hover {
  background-color: #ffd1d9;
}
