.wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.middle {
  flex: 1;
  display: flex;
}

.main {
  flex: 6;
}

aside {
  flex: 1;
}

#tasks_header {
  height: 50px;
  display: flex;
  align-items: center;
  background-color: #db4c3f;
  color: white;
  gap: 15px;
}

#tasks_header a{
  text-decoration: none;
  color: white;
  display: block;
}

#tasks_header a:first-of-type {
  padding-left: 30px;
}

#tasks_header a:last-of-type {
  padding-right: 30px;
}

#spacer {
  flex-grow: 1;
  cursor: default;
}
