#welcome{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90%;
}

#welcome > p {
  font-weight: bold;
  font-size: 4.5rem;
  margin-bottom: 32px;
  text-align: center;
}

#welcome > a {
  background-color: #e44232;
  border-color: #e44232;
  border: 1px solid;
  cursor: pointer;
  color: white;
  padding: 10px 20px;
  font-weight: bold;
  font-size: 1.2rem;
  border-radius: 0.625rem;
  outline: none;
  text-decoration: none;
}

#welcome > a:hover {
  background-color: #ee5244;
  border-color: #ee5244;
}
